MERCADO_PAGO_PUBLIC_KEY=APP_USR_SUA_PUBLIC_KEY_AQUI
MERCADO_PAGO_ACCESS_TOKEN=APP_USR_SEU_ACCESS_TOKEN_AQUI
MERCADO_PAGO_WEBHOOK_SECRET=SUA_CHAVE_SECRETA_DO_WEBHOOK_AQUI
DECANTS_PUBLIC_BASE_URL=http://localhost:8000
DECANTS_DB_PATH=data/decants.sqlite3
DECANTS_WHATSAPP_NUMBER=558899641605
DECANTS_ADMIN_DOMAIN=admin.decantperfumaria.com.br
DECANTS_ADMIN_USER=admin@decantperfumaria.com.br
DECANTS_ADMIN_PASSWORD_HASH=$2b$12$COLE_SEU_HASH_BCRYPT_AQUI
DECANTS_SECRET_KEY=troque-por-uma-chave-longa-e-aleatoria
